<div class="row g-3 mt-5">
  <div class="col-12">
    <h4 class="text-center">Register Account</h4>
  </div>
  <div class="col-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4"
           name="email" [(ngModel)]="registerRequest.email"
    >
  </div>
  <div class="col-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control"
           [(ngModel)]="registerRequest.password"
           id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control"
           [(ngModel)]="registerRequest.firstName"
           id="firstname">
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text"
           [(ngModel)]="registerRequest.lastName"
           class="form-control" id="lastname">
  </div>
  <div class="col-12">
    <button (click)="registerAccount()" class="btn btn-primary w-100 mt-4">Submit</button>
    <a href="/login" class="btn btn-secondary w-100 mt-4">Login</a>
  </div>
</div>
