<div class="container">
  <main class="content">
    <div class="container p-0">
      <div class="mb-3 d-flex align-items-center flex-wrap">
        <h1 class="h3 mb-2 mt-3" style="margin-right: 20px;">Welcome {{ Utils.getPayload().info.fullName }}</h1>
        <img src="{{Utils.getPayload().info.avatar ? Utils.getPayload().info.avatar: 'https://bootdey.com/img/Content/avatar/avatar5.png'}}"
            class="rounded-circle mr-1"  width="50" height="50">
        <input type="file" style="margin-left: 20px;" id="file-up-load-image">
        <button class="btn btn-primary" (click)="uploadAvatar()">Upload Image</button>
      </div>
      <div class="mb-2 d-flex">
        <div *ngFor="let user of users" style="margin-right: 20px; cursor: pointer"
          (click)="findPrivateConversation(user)">
          <img src="{{user.avatar ? user.avatar : 'https://bootdey.com/img/Content/avatar/avatar5.png'}}"
            class="rounded-circle mr-1" width="40" height="40">
          <p>{{ user.fullName }}</p>
        </div>
      </div>
      <div class="card">
        <div class="row g-0">
          <div *ngIf="!listConversationOfUser?.length" class="col-12 col-lg-6 col-xl-3 border-right"></div>
          <div *ngIf="listConversationOfUser?.length" class="col-12 col-lg-6 col-xl-3 border-right">
            <app-form-conversation [listUser]="users" [conversationService]="conversationService">
            </app-form-conversation>
            <a *ngFor="let conversation of listConversationOfUser" href="javascript:void(0)"
              (click)="getAllMessageOfConversation(conversation)"
              class="list-group-item list-group-item-action border-0">
              <div class="d-flex align-items-start">
                <img src="{{conversation.imageRepresent ? conversation.imageRepresent : 'https://bootdey.com/img/Content/avatar/avatar5.png'}}" class="rounded-circle mr-1"
                  alt="Vanessa Tucker" width="40" height="40">
                <div class="flex-grow-1 ml-3">
                  {{ conversation.displayName }}
                  <div class="small"><span
                      class="fas fa-circle chat-{{conversation.status ? 'online' : 'offline'}}"><b>{{conversation.status
                        ? 'On' : 'Off'}}</b></span>
                    <div class="text-truncate" style="max-width: 150px;">
                      <b>{{
                        conversation.recentMessage?.fromUser?.id !== Utils.getPayload().info?.id ?
                        conversation.recentMessage?.fromUser?.fullName : 'You'
                        }}</b><span>{{conversation.recentMessage ? ': ' : ''}}</span>
                      {{ conversation.recentMessage?.content }}
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <hr class="d-block d-lg-none mt-1 mb-0">
          </div>


          <div *ngIf="messages.length > 0 || currentConversation" class="col-12 col-lg-6 col-xl-9">
            <div class="py-2 px-4 border-bottom d-none d-lg-block">
              <div class="d-flex align-items-center py-1">
                <div class="position-relative">
                  <img src="{{currentConversation?.imageRepresent ? currentConversation?.imageRepresent : 'https://bootdey.com/img/Content/avatar/avatar5.png'}}"class="rounded-circle mr-1"
                    alt="Sharon Lessman" width="40" height="40">
                </div>
                <div class="flex-grow-1 pl-3">
                  <strong>{{ currentConversation?.displayName }}</strong>
                  <div class="text-muted small"><em>Typing...</em></div>
                </div>
                <div>
                  <button (click)="sendMessage(true)" class="btn btn-info btn-lg mr-1 px-3 d-none d-md-inline-block"
                    data-toggle="modal" data-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-video feather-lg">
                      <polygon points="23 7 16 12 23 17 23 7"></polygon>
                      <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="position-relative">
              <div class="chat-messages p-4" #scrollMe [scrollTop]="scrollMe.scrollHeight" id="history-message"
                style="height: 500px;">
                <div *ngFor="let message of messages"
                  class="chat-message-{{message.fromUser?.id !== Utils.getPayload().info?.id ? 'left' : 'right'}} pb-4">
                  <div>
                    <img src="{{message.fromUser.avatar ? message.fromUser.avatar : 'https://bootdey.com/img/Content/avatar/avatar5.png'}}" width="40" height="40"
                      class="rounded-circle mr-1">
                    <div class="text-muted small text-nowrap mt-2">
                      {{ this.getTime(message.createdDate) }}
                    </div>
                  </div>
                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                    <div class="font-weight-bold mb-1">
                      {{ message.fromUser?.id !== Utils.getPayload().info?.id ? message.fromUser?.fullName : 'You' }}
                    </div>
                    <p *ngIf="(message.messageType === 'VIDEO')" style="color: red;">
                      {{ message.content }}
                    </p>
                    <div *ngIf="!(message.messageType === 'VIDEO')">
                      <div class="d-flex flex-wrap">
                        <img style="margin-left: 10px" style="cursor: pointer; margin-left: 10px;" *ngFor="let image of message.detachImages"
                          class="rounded d-block" width="150px" height="150px" [src]="image"
                          (click)="redirect_image(image)" 
                          >
                      </div>
                      {{ message.content }}
                    </div>
                    <div *ngIf="message.messageType === 'VIDEO'">
                      <button class="btn btn-primary w-50" (click)="joinVideoCall(message)">Join
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top">
              <div class="input-group">
                <input type="text" class="form-control" name="message" [(ngModel)]="messageContent"
                  placeholder="Type your message">
                <form enctype="multipart/form-data">
                  <input type="file" multiple class="form-control" name="file" id="file">
                </form>
                <button class="btn btn-primary" (click)="sendMessage()">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>